.video-size {
  width: 95% !important;
  height: 50% !important;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .video-size {
    width: 100% !important;
    height: 30% !important;
    display: flex;
    justify-content: center;
  }
}
.video-profile-container {
  width: 10%;
  height: 80%;
  margin-right: 20px;
}
hr {
  width: 100%;
}
.video-views-container {
  display: flex;
  justify-content: space-between;
}
.video-views-likes {
  display: flex;
  justify-content: space-around;
}
.video-button-style {
  border-width: 0px;
  background-color: transparent;
}
.selected-video {
  color: #3b82f6;
}
